h1{
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
#img_a_holder{
    align-items: center;
    position: relative;
    top: 50px;
    right: -50px;
}
#img_b_holder{
    align-items: center;
    position: relative;
    top: -450px;
    right: -800px
}
#img_c_holder{
    align-items: center;
    position: relative;
    top: -275px;
    right: -35px;
}
#img_d_holder{
    align-items: center;
    position: relative;
    top: -875px;
    right: -775px;

}
ul{
    background-color: black;
}
li{
    float: center;
}
a{
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
